:root {
  --dark-pink-bg: #e84393;
  --light-pink-bg: #fd79a8;
  --city-lights: #dfe6e9;
  --robin-egg: #00cec9;
  --exodus-fruit: #6c5ce7;
  --shy-moment: #a29bfe;
  --dracula: #2d3436;
}

/*
font-family: 'Lacquer', sans-serif;
font-family: 'Tomorrow', sans-serif;
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--robin-egg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My CSS begins here */

body {
  background: var(--dark-pink-bg);
  color: #fff;
  overflow-y: hidden;
}

/* 
h1 {

}
.image-otd {

}
.image-container {

}
.nasa-image-otd {

}
.date-title {

}
.date-title p:first-child {

}
.description-container {

} */