:root {
  --dark-pink-bg: #e84393;
  --light-pink-bg: #fd79a8;
  --city-lights: #dfe6e9;
  --robin-egg: #00cec9;
  --exodus-fruit: #6c5ce7;
  --shy-moment: #a29bfe;
  --dracula: #2d3436;
}

/*
font-family: 'Lacquer', sans-serif;
font-family: 'Tomorrow', sans-serif;
*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--robin-egg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* My CSS begins here */

body {
  background: var(--dark-pink-bg);
  color: #fff;
  /* overflow-y: hidden; */
}

h1 {
  padding: 30px 0;
  font-size: 4.8rem;
  background: var(--exodus-fruit);
  border-bottom: solid 5px var(--shy-moment);
}

.image-otd {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Image stuff */
.image-container {
  width: 600px;
  height: 600px;
  padding-bottom: 90px;
  margin: 0 50px 0 auto;
  background: var(--city-lights);
  box-shadow: 9px -9px var(--light-pink-bg);
  border-radius: 3px;
}
.nasa-image-otd {
  margin-top: 15px;
  width: 95%;
  border-radius: 3px;
}
.date-title {
  width: 95%;
  margin: 18px auto;
  padding: 12px 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.4rem;
  color: var(--dracula);
  border-radius: 8px;
  box-shadow: -5px -5px 10px #fdfefe, 5px 5px 10px #adbfc6;
}
.date-title p:first-child {
  font-size: 3.8rem;
}

/* Title stuff */
.title-container {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* Description stuff */

.description-container {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
  height: 630px;
  background: var(--dracula);
  box-shadow: 9px -9px var(--light-pink-bg);
  border-radius: 3px;
  font-family: 'Tomorrow', sans-serif;
  letter-spacing: 1.4px;
  line-height: 2.4;
  font-size: 2.4rem;
}